<h1>Random Results</h1>

<dl>
<dt>
Minimum
</dt>
<dd>  <%= @mininput %>  </dd>
</dl>

<dl>
<dt>
Maximum
</dt>
<dd> <%= @maxinput %> </dd>
</dl>

<dl>
<dt>
Random Number
</dt>
<dd> <%= @result %> </dd>
 </dd>
</dl>


<a href="/random/new">Pick another random number</a>
