<form action="/square_root/results">
  <div>
    <label for="root_input">
      Enter a number
    </label>

    <input id="root_input" type="text" name="user_root" placeholder="E.g. 4">
  </div>

  <button>
    Calculate square root
  </button>
</form>
