<form action="/square/results">
  <div>
    <label for="square_input">
      Enter a number
    </label>

    <input id="square_input" type="text" name="user_square" placeholder="E.g. 4">
  </div>

  <button>
    Calculate square
  </button>
</form>
